/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css');

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, button {
    color: #888;
    font-family: Cambria, Georgia;
  }

  input[text] {
    color: #888;
    font-family: Cambria, Georgia;
    resize: both;
 }
 span.Nome{color:#2f2e2d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%
}