<div class="container">
  <h1>Registrazione</h1>
  <form [formGroup]="signInForm">

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome"  class="form-control"
      formControlName="nome"  />

      
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
        class="alert alert-danger">
          <div *ngIf="nome.errors.required">
               Il nome è obbligatorio
          </div>
          <div *ngIf="nome.errors.minlength">
              Il nome deve essere di almeno 4 caratteri
         </div>
      </div>

   </div>

    
    <div class="form-group">
      <label for="cognome">Cognome:</label>
      <input type="text" id="cognome"  class="form-control"
      formControlName="cognome"  />
    </div>

    <div class="form-group">
      <label form="email">Email: </label>
      <input type="text" id="email"  class="form-control" 
      formControlName="email" />

         <div *ngIf="email.invalid && (email.dirty || email.touched)" 
         class="alert alert-danger">
              <div *ngIf="email.errors.email">
                  A mail non è valida
              </div>
           
         </div>
    </div>

    <div class="form-group">
      <label form="dataDiNascita">Data di Nascita: </label>
      <input type="text" id="dataDiNascita"  class="form-control" 
      formControlName="dataDiNascita" />
    </div>

    <div class="form-group">
      <label form="password">Password</label>
      <input type="password" id="password"  class="form-control"
      formControlName="password"  />

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">
         
          <div *ngIf="password.errors.minlength">
              La password deve essere almeno di 6 caratteri
          </div>

    </div>
         
    </div>

    <div class="form-group">
        <label form="confirmPassword">Conferma Password</label>
        <input type="confirmPassword" id="confirmPassword"  class="form-control"
        formControlName="confirmPassword"  />
    </div>

    <button type="submit" class="btn btn-success">Salva</button>
  </form>

  </div>
